body{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo img{
    width: 120px;
    height: auto;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: white;
}

a:hover{
    color: rgb(52, 158, 202);
    transition: 0.3s all;
}

#subscribe-btn{
    border: 2px solid rgb(52, 158, 202);
    padding: 10px;
    border-radius: 15px;
}

#subscribe-btn:hover{
    background-color: rgb(52, 158, 202);
    color: white;
}

h1{
    font-weight: 200;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-evenly;
    align-items: center;
}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}

span{
    color: rgb(52, 158, 202);
}

p{
     line-height: 20px;
     max-width: 500px;
     font-family: poppinslight;
}

img{
    display: block;
    width: 500px;
    height: auto;
    border-radius: 15px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: rgb(52, 158, 202);
    color: white;
    font-weight: bold;
}

form [type="submit"]:hover{
    cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}
